.title {
    font-size: 20px;
    color: white;
    border-width: 0px;
    margin: 10px 0px 0px 20px;
    padding: 4px 10px 4px 10px;
    background-color: black;
    border-radius: 4px;
    position: fixed;
    z-index: 1;
}

.title:hover {
    color: black;
    transition-duration: 600ms;
}

.card {
    width: 20rem;
    height: 180px;
    display: inline-block;

    border-width: 4px;
    border-color: black;
    border-style: solid;
    border-radius: 10px;

    margin: 100px 20px 0px 20px;
    padding: 0px 20px 20px 20px;

    overflow-y: scroll;


}
::-webkit-scrollbar {
    display: none;
    }

.card:hover {
    color: white;
    background-color: black;
    -webkit-transition-duration: 600ms;
    transform: scale(1.1, 1.1); transition-duration: 0.5s;
    box-shadow: 6px 6px 3px gray;
}

.sidebar {
    position: fixed;
    text-align: left;
    color: white;
    right: 0px;
    width: 170px;
    height: 93%;
    margin: 5px 15px 0px 20px;
    padding-top: 20px;
    background-color: black;
    border-radius: 10px;

}

.sidetitle {
    margin-left: 24px;
    font-weight: bold;
}

.sidebtn {
    color: white;
    background-color: black;
    border-width: 0px;
    margin: 20px 20px 0px 20px;

}

.sidebtn:hover {
    font-weight: bold;
    transition-duration: 200ms;
}

.sidebtn:active {
    color: black;
}

.git {
    background-color: white;
    background-image: url(github.svg);
    background-position: center;
    background-size: cover;
    height: 20px;
    width: 20px;

    border-width: 1px;
    border-radius: 100px;
    border-color: white;
    position: relative;
    margin: 300px 0px 0px 75px;

}

.git:hover {
    transform: scale(1.2, 1.2); transition-duration: 0.5s;
}

.version {
    color: white;
    background-color: transparent;
    font-size: 10px;
    width: fit-content;
    position: relative;
    margin: auto;


}